
  <link rel="stylesheet" href="barras.component.css">

 <div class="container">
  <div class="row justify-content-center pt-5 mt-5">
    <div>
        <div>
          <div>
            <legend style="text-align: center;"  class=" bg-primary text-white">Precio y Cantidad De Los Articulos Vendidos</legend>
        </div>
          <div style="display: block">
            <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
          <button class=" bg-primary text-white" mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
        </div>
      </div>
  </div>
 </div>
